.googleLoginBtn {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	color: var(--gray-700);
	background-color: transparent;

	border-radius: 10px;
	border: 1.5px solid var(--gray-120);
}

.googleLoginBtn:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
